<%- include('partials/header.ejs') %>

<div class="container">
    <div class="edit-section">
        <form class="edit-form" action="/api/writing-edit/<%= writing["id"] %>" method="POST">
            <label for="writingHeader">Header</label>
            <input type="text" name="writingHeader" value=<%= writing["writingHeader"]  %> />
            <label for="writingContent">Writing</label>
            <textarea type="text" name="writingContent"><%= writing["writingContent"]  %></textarea>
            <input type="submit" value="Apply Changes" />
          </form>
    </div>
  </div>
</body>
</html>
